<aside id="actions">
  <ul>
    <li> <a href="/refinery/admin/bank_details/add_client" class="add_icon">Add Promoter</a> </li>
    <li> <a href="/refinery/admin/bank_details/deactive_clients" class="add_icon">Deactivated Promoter</a> </li>
  </ul>
</aside>
