<p>We're sorry to see that you have deleted your account. While we're sad to see you go, we wanted to let you know that your GoEvents subscription has been canceled.</p>

<p>Come back soon!</p>

<p>If you have any questions, please click <a href="/faqs">here</a>.</p>