<section id="records">
  <div>
    <h2>Edit Field</h2>
  </div>
  <%= form_for @field, :url => "/refinery/events/#{@event.id}/registration/update"  do %>
    <%= hidden_field_tag 'field[id]', @field.id %>
    <%= render 'form' %>
  <%end%>
</section>
<%= render '/refinery/events/admin/events/sidebar' %>
