<div class="span12" style="margin-left:0px !important;">
  <div id="gallery2"  class="slider2">
    <% Refinery::Events::Event.where( :publish_banner => true ).each do |e| %>
      <div class="slide"><%= link_to (image_tag e.banner.url(:original), :size => '930x400'), "/event/#{e.url}" %></div>
    <% end %>              
  </div> <!-- .gallery -->

</div>
<hr>
<div class="ifilter container" style="clear:both;float:left;" >
  <a href="/event?filter=all" class="ifilterlink">All</a>
  <a href="/event?filter=today" class="ifilterlink">Today</a>
  <a href="/event?filter=tomorrow" class="ifilterlink">Tomorrow</a>
  <a href="/event?filter=week" class="ifilterlink">This Week</a>
  <a href="/event?filter=month" class="ifilterlink">This Month</a>
  <a href="/event?filter=workspace" class="ifilterlink">Workspace</a>
</div>

<% @events.each_slice(5).each do |events| %>
  <% events.each do |event| %>
    <section>
      <div class="event_box">
        <% unless event.photo.blank? %>
          <%= image_tag event.photo.url %>
        <% end %>
        <div class="event_name">
          <%= event.title %>
        </div>
        <%= link_to 'View', "/event/#{event.url}", :class=>'myButton' %>
      </div>
  <% end %>
<% end %>
