<div class="span12 jcarousel-wrapper">
  <div id="gallery2"  class="jcarousel">
    <ul>
      <% Refinery::Events::Event.where( :publish_banner => 1 ).each do |e| %>
        <li><%= link_to (image_tag e.banner.url(:original), :size => '900x400'), "/event/#{e.url}" %></li>
      <% end %>              
    </ul>
  </div> <!-- .gallery -->

  <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
  <a href="#" class="jcarousel-control-next">&rsaquo;</a>
  
  <p class="jcarousel-pagination"></p>
</div>
<hr>
<div class="ifilter container" >
  <a href="/event?filter=all" class="ifilterlink">All</a>
  <a href="/event?filter=today" class="ifilterlink">Today</a>
  <a href="/event?filter=tomorrow" class="ifilterlink">Tomorrow</a>
  <a href="/event?filter=week" class="ifilterlink">This Week</a>
  <a href="/event?filter=month" class="ifilterlink">This Month</a>
</div>

<% @events.each_slice(5).each do |events| %>
  <% events.each do |event| %>
    <section>
      <div class="event_box">
        <% unless event.photo.blank? %>
          <%= image_tag event.photo.url %>
        <% end %>
        <div class="event_name">
          <%= event.title %>
        </div>
        <%= link_to 'Book Now', "/event/#{event.url}", :class=>'myButton' %>
      </div>
  <% end %>
<% end %>