<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		$('.accordian1').accordion({
			heightStyle: "content"
		});
	});
</script>

<h3>USER FAQs</h3>
<div>
  <h3>Create Account/Sign In</h3>

  <div class="accordian1">
    <h3>Can anyone join?</h3>
    <div>
      <p>Sorry, currently our services can only be availed by employees at select offices and event promoters in Bangalore, India.</p>
    </div>
	<h3>If you are an employee in a office from within Bangalore and still can’t join us:</h3>
	<div>
      <p>Your office is not currently enabled in our system. We will review the same and inform you as soon as it is enabled. We request you to ask your colleagues to join us, as more the
number of people joining us from your office, the better the chances of getting your office
approved.</p>


	  <p>In the meantime, If you'd like, you can receive our weekly newsletter by clicking here or
follow us on here on <a href="#" style="color:blue;">Facebook</a>. This way, you can stay in touch with the latest news on
events in Bangalore and site happenings.</p>
	</div>

<h3>If you have got an invitation to join us but still can’t:</h3>
	<div><p>Sorry, something must have gone wrong somewhere. Please click <a href="/contact-us" style="color:blue;">here</a>. to submit your
request and we will get back to you within the next 24 hours. We request you to notify the
same to the HR/Admin team in your company.</p>
	</div>

<h3>You want us to promote & sell your event?</h3>
	<div><p>Please get in touch with us <a href="/contact-us" style="color:blue;">here</a>. We will take a look as soon as we possibly can and get in
touch with with you.</p>
	</div>

<h3>Why should I join GoEvents? What are the benefits?</h3>
	<div><p>As a member, you get latest updates on events In & outside your office, super exclusive deals &
discounts and a detailed Order history on your profile dashboard. You also get to buy and gift a
ticket to friends & colleagues inside your office.</p>
	</div>

<h3>How do I join GoEvents?</h3>
	<div>
		<p>To join us click <a href="/" style="color:blue;">here</a> or use the <a href="/" style="color:blue;">‘Join Us‘</a> link on www.goevents.in home page. Enter your official
email id </p>
		<p>For the simplest reason being that you have more than one security proof associated with your
account as a backup in case a current proof becomes outdated or incorrect.</p>
	</div>

<h3>How do I reset my password?</h3>
	<div><p>Click <a href="/users/password/new" style="color:blue;"> here</a> to reset your password or on the GoEvents homepage, click on <a href="/" style="color:blue;">Sign in</a>, enter your
username in the login box on the top right hand corner, click on the Forgot Password link. The new
password will be emailed to you.</p>
	</div>

<h3>How do i delete my account?</h3>
	<div><p>Click here to delete your account or sign into your account, click on your username on the top right
hand corner of the homepage, click on edit account, select delete account and confirm. </p>
	</div>
  </div>

<h3>ORDER PLACEMENT & CANCELLATION!</h3>

<div class="accordian1">
	<h3>How to place an order?</h3>
	<div><p><ul>
		<li>Log on to www.goevents.in</li>
		<li>Join us with your official corporate email id if you haven't yet</li>
		<li>Activate account if you haven't yet</li>
		<li>Sign-in</li>
		<li>Select Event</li>
		<li>Select the ticket type and the No. of tickets</li>
		<li>Click on 'Order'</li>
		<li>Crosscheck order and Order details in the summary</li>
		<li>Click on 'Proceed' to go ahead with your order</li>
		<li>Enter your Email Id to get the order confirmation email</li>
		<li>Choose the preferred Mode of Payment</li>
		<li>Enter your online banking details</li>
		<li>Read and Check 'I Agree to the Terms and Conditions'</li>
		<li>Click on 'Pay' </li>
		<li>Enter Verified by Visa - Mastercard Secure Code (Only for debit cards)</li>
		<li>Receive your order details by email. </li>
		</ul>
	</p></div>

	<h3>Can I place an order in advance?</h3>
	<div><p>This depends entirely on promoter and the date of the event. Whenever the organiser opens the
	event for advance order, the event is automatically made available for you.</p></div>

	<h3>Any extra fees/internet charges on orders I place here?</h3>
	<div><p>This depends entirely on promoter. GoEvents sells tickets on behalf of promoters and does not
	control the actual cost of the ticket. However, we do ensure that you get the maximum discount
	and best deals.
	</p></div>

	<h3>Is there a limit on orders for events?</h3>
	<div><p>You are allowed to order a maximum of 2-10 tickets in each ticket category for that event. The
	maximum quantity of tickets available may vary from time to time. Incase you wish to order more
	than 10 tickets, please feel free to contact us on bulkorder@goevents.in.</p></div>

	<h3>Is there a cut-off time for placing an order for an event?!</h3>
	<div><p>The cut-off time for placing an order may vary from event to event as it is governed by the
	organiser. It's usually 1-2 hours before the event start time.!</p></div>

	<h3>What are the terms & conditions for attending an event?!</h3>
	<div><p>Please check the event page for terms & conditions for that event before buying the tickets. Also
	please check for any additional ratings/entry restrictions that may be applicable for events from
	time to time.</p></div>

	<h3>What do I do if my order is not completed?</h3>
	<div><p>We are sorry for this unlikely inconvenience. If your order process fails during a payment
	process, we will notify you if any erroneous charges have been incurred and reverse any
	amount charged within 3 weeks.</p></div>

	<h3>I haven’t received my tickets in the mail yet. What do I do?</h3>
	<div><p>As soon as your order is confirmed, a confirmation containing your order details is sent to your
	email. In case you have not received the confirmation e-mail, please login to your GoEvents
	account, view Order History, select the order you wish to receive and click on the 'Resend
	Summary’ to get a new confirmation. Alternatively, you can write to us here</p></div>

	<h3>How do I collect my tickets?</h3>
	<div><p>If you placed an order using Credit/Debit card as your mode of payment
	You can collect your tickets from the box office counters at the venue on the day of the event with
	the Credit/Debit card used while ordering along with a photo ID. Please note that you will be
	required to show it along with a photo ID. The name on the photo ID must match with that on the
	order summary.
	
	If you placed an order using net banking as your mode of payment
	Carry a print-out of the order summary along with your Photo ID to collect your tickets at the box
	office counters on the day of the event. The name on the photo ID must match with that on the
	order summary.</p></div>
	
	<h3>How much time before the event do I have to collect my tickets?</h3>
	<div><p>We recommend collecting the ticket 15-30 minutes earlier in case of a last minute queue at the box
	office counters counters.</p></div>
	
	<h3>Can I cancel/exchange my tickets?</h3>
	<div><p>This depends entirely on promoter. GoEvents sells tickets on behalf of promoters and does not
	control the cancellation policy set for that event. However, you can transfer your order as gift to
	whoever you want. Gift an order is available for orders placed online at GoEvents.</p></div>
	
	<h3>I had placed an order with my Credit/Debit card for me and my colleagues\friends/family, but
	I cannot attend the event personally. Can they attend the event?</h3>	
	<div><p>In such a scenario, where the cardholder is not able to attend the event, you can transfer
	your order as a gift to the people who work in the same office as you do. Gift-an-Order is
	available for orders placed online at GoEvents. Please click here for more info.
	
	For family & friends, the persons attending the event needs to show the photocopy of the
	front and reverse side of your card which should be duly signed by the cardholder along
	with a photocopy of your photo ID and a print out of the order. We recommend you scratch
	off the CVV number on the card photocopy for security reasons. !
	</p></div>


	Gift-an-Order!
	<h3>Can I Gift-an-Order to anyone?!</h3>
	<div><p>You can Gift-an-Order to anyone working within your organisation. The recipient requires to have a
	GoEvents account to accept it. Please ask them to create one if they haven’t already.</p></div>

	<h3>How do I Gift-an-Order?</h3>
	<div><p><ul>
		<li>Place an order as you normally would</li>
		<li>Go to Order History </li>
		<li>Select the order you want to gift</li>
		<li>Click “Gift This Order”</li>
		<li>Enter recipient’s name and email id</li>
		<li>Click on Send. </li>
		</ul>
	
	The recipient will get an email with the gift details. Once recipients accept, the original order is
	voided.</p></div>
	<h3>Is there a fee to send or accept?</h3>
	<div><p>There is no fee to send and/or accept a gift.</p></div>
	
	<h3>The recipient did not receive the gift notification email. What do I do?</h3>
	<div><p>In case you the recipient has not received the confirmation e-mail, please login to your account,
	view Order History, select the order you wish to receive and click on the 'Resend Summary’ to get
	a new confirmation. Alternatively, you can write to us here</p></div>
	
	<h3>How will the recipient know that I have sent a gift?</h3>
	<div><p>The recipient will get an email with the gift details. Once recipients accept, the original tickets is
	voided. You can also check the same by clicking on Gifted Orders in Order History in your account.
	We also email them a reminder 48 hours before the order expires. You should also contact them
	yourself.</p></div>
	
	<h3>How will I know when the recipient accepts the gift?</h3>
	<div><p>We will notify you with an email you when recipient accepts the gift. You can also check the same
	by clicking on Gifted Orders in Order History in your account. We also email you a reminder 48
	hours before the order expires. You should also contact them yourself.</p></div>
	
	<h3>Can I cancel or gift an order someone gifted me?</h3>
	<div><p>No, You cannot cancel an order accepts as a gift or gift it to someone else.</p></div>
	
	<h3>Is there a limit on gifting?</h3>
	<div><p>You can Gift-an-Order to as many people as you like. However, you can gift only one order a day
	or until your sent gift has been accepted.</p></div>
	
	<h3>Is there a cut-off time for gifting?</h3>
	<div><p>Every order you place has an expiry day. You can gift until your order expires.</p></div>
	
	<h3>Can I cancel a gift?</h3>
	<div><p>Yes, if the recipient hasn't accepted the gift as yet. On your account, go to Gifted Orders in Order
	History, select the order you want to cance and click on Cancel This Gift. The recipient will get a
	cancelation email.
	</p></div>
	
	<h3>What are the available modes of payment?</h3>
	<div><p><ul>
		<li> Credit Card</li>
		<li> Debit Card</li>
		<li> Cash Cards</li>
		<li> Net banking</li>
		</ul>
	</p></div>
	
	<h3>Is the transaction secure?</h3>
	<div><p>We follow industry guidelines and software practices to keep data safe. We endeavour to keep all
	the information that you provide secure.</p></div>
	
	<h3>When I enter my credit card information, the website asks for a CVV code. What is the CVV
	code?</h3>
	<div><p>The CVV is a 3 or 4 digit code embossed or imprinted on the reverse side of Visa and MasterCard
	credit cards. This is an extra security measure to ensure that you have access or physical
	possession of the credit card itself in order to use the CVV code.
	
	For Visa and MasterCard credit cards, the CVV is a 3 digit number embossed or imprinted on the
	reverse side of the card.
	For American Express cards, the CVV is the 4 digit number on the front right hand side of the card
	above the card number. 
	For State Bank of India (SBI) cards, there is a 19 digit number printed on the front of the credit
	card, of which the first 16 digits are the credit card number and the last three digits are the CVV
	code.</p></div>

	<h3>How do I get the Verified by Visa - MasterCard Secure Code?</h3>
	<div><p>Log on to your bank's website, register your card for Verified by Visa or MasterCard SecureCode
	and get your password. Each bank has its own process for verification, log on to your bank's
	website for details.</p></div>
	
	<h3>My order has been rejected, but my Credit/Debit card has been charged? What do I do?</h3>
	<div><p>This is a very rare situation, and can occur in case of a network fluctuation at the venue at the time
	of confirming the Order. In this case, a reverse request for the charge on your card will be sent by
	us the same day to the bank. Depending on each bank's policy, it can sometimes take up to 15
	working days for the reversal to take effect. If it has been longer than 15 days, please feel free to
	contact us on support@goevents.in and we will take this up on priority with the bank to ensure an
	immediate refund.</p></div>
	
	<h3>Will I get a refund if the event has been cancelled?</h3>
	<div><p>Incase of show cancellation, the amount will be refunded to you within a week. If it has been longer
	then a week, please contact us here on support. We will take this up on priority to ensure an
	immediate refund.If you have any questions, please <a href="/contact-us" style="color:blue;">click here</a>.</p></div>

</div>