<h3>Privacy Policy</h3>

<h4>Payment Methods</h4>
GoEvents accepts Visa, MasterCard, American Express, select Debit Cards and Net Banking. Other payment methods may be added from time to time.

<h4>Who You Are Buying From</h4>
GoEvents acts as the agent to those who are promoting the events for which you order tickets ("Promoter”). When you place an order, GoEvents will be handling the transaction and collecting payment for the organisers. 

<h4>Pricing and Availability</h4>
GoEvents sells tickets on behalf of Promoters and does not control the inventory or its availability. However, pricing is controlled to ensure you get maximum discount.

<h4>Age Limit for placing an Order</h4>
18 years & above

<h4>Internet handling fees and Order Processing Fees</h4>
This depends entirely on promoter. GoEvents sells tickets on behalf of promoters and does not control the actual cost of the ticket. However, we do ensure that you get the maximum discount and best deals.

<h4>Limit Per Customer or "Order Limits”</h4>
When placing an order on GoEvents you are limited to a specified number of tickets for each ticket type for that event.

<h4>Censor warning</h4>
GoEvents does not control the censorship and this depends entirely on promoter. Please check the censor warning on event page before buying the tickets. Also please check for any additional ratings/entry restrictions that may be applicable for events from time to time.

<h4>Order Confirmation</h4>
If you do not receive a order number (in the form of a confirmation page or email) after submitting payment information, or if you experience an error message or service interruption after submitting payment information, it is your responsibility to confirm the same form your Order History or with the GoEvents support team whether or not your order has been placed. Only you may be aware of any problems that may occur during the order process. GoEvents will not be responsible for losses (monetary or otherwise) if you assume that an order was not placed because you failed to receive confirmation.

<h4>Refunds and Transfers</h4>
This depends entirely on promoter. GoEvents sells tickets on behalf of promoters and does not control the cancellation policy set for that event. However, you can transfer your order as gift to whoever you want. Gift an order is available for orders placed online at GoEvents. 
Before finally placing an order, carefully review your details. GoEvents prohibits exchanges or refunds on lost, stolen, damaged or destroyed Orders.

<h4>Billing Information Verification</h4>
Some orders will be processed only after a billing address, and other billing information, has been verified. Occasionally, we receive incorrect billing or credit card account information for an order that can delay processing and delivery. In these cases, GoEvents support team will attempt to contact you, using the information provided at the time of placing an order. If GoEvents is unable to reach you after its initial attempt, GoEvents may cancel your order and may sell your order to another.








<h4>Order delivery</h4>
GoEvents offers multiple delivery options. The options may vary from for different events.

<h4>Currently the following delivery options are available:</h4>

<p>If you placed an order using Credit/Debit card as your mode of payment
You can collect your order from the box office counters at the venue on the day of the event with the Credit/Debit card used while ordering along with a photo ID. Please note that you will be required to show it along with a photo ID. The name on the photo ID must match with that on the order summary. </p>

<p>If you placed an order using net banking as your mode of payment
Carry a print-out of the order summary along with your Photo ID to collect your order at the box office counters on the day of the event. The name on the photo ID must match with that on the order summary.</p>

<p>In case the credit/debit card user has placed the order but cannot attend the event, 
In such a scenario, where the cardholder is not able to attend the event, you can transfer your order as a gift to the people who work in the same office as you do. Gift-an-Order is available for orders placed online at GoEvents.</p>

<p>For family & friends, the persons attending the event needs to show the photocopy of the front and reverse side of your card which should be duly signed by the cardholder along with a photocopy of your photo ID and a print out of the order. We recommend you scratch off the CVV number on the card photocopy for security reasons. </p>

<h4>Pricing and Other Errors</h4>
If the amount you pay for an order is incorrect regardless of whether because of an error in a price posted on this web site or otherwise communicated to you, or you are able to place an order before its scheduled on-sale or pre-sale date or you are able to place an order that was not supposed to have been released for sale, then: GoEvents will have the right to cancel that order and refund to you the amount that you paid. This will apply regardless of whether because of human error or a transactional malfunction of this web site.

<h4>Cancelled/Postponed Events</h4>
Occasionally, events are canceled or postponed by the organiser. Should this occur, we will attempt to contact you and refund the amount as per the policy of the organiser.

<h4>Customer Care</h4>
If you need help regarding your order or any other issue, the best in the company is available. We guarantee a response time of one working day and you can reach at support@goevents.in.


<h4>1.0 ACCEPTANCE OF TERMS</h4>
<h4>1.1</h4>
The GoEvents.in website ("Website") is an internet based entertainment promotions portal owned and operated by Happyfolks Entertainment  ("Happyfolks"), a company incorporated under the laws of India, with its registered office at 2nd Floor, 11/1, Palmgrove Road, Austin Town, Bangalore 560047.

<h4>1.2</h4>
Through the Website, Happyfolks shall provide you ("User") entertainment-related information, pricing, availability and ticket reservations for events in Bangalore ("Service"), as more particularly described and defined in the terms of service ("TOS") relating to such Service, This Service may be availed by the User for himself, his family members and friends in Bangalore, India at any time during the year through vendors ("Service Providers").

<h4>1.3</h4>
This User Agreement ("Agreement") sets out the terms and conditions on which Happyfolks shall provide the Services to the User through the Website. In addition to this Agreement and depending on the Services opted for by the User, the User shall be required to read and accept the relevant TOS for such Service, which may be updated or modified by Happyfolks from time to time. Such TOS shall be deemed to be a part of this Agreement and in the event of a conflict between such TOS and this Agreement, the terms of this Agreement shall prevail.

<h4>1.4</h4>
Use of the Website is offered to the User conditioned on acceptance without modification of all the terms, conditions and notices contained in this Agreement and the TOS, as may be posted on the Website from time to time. For the removal of doubts, it is clarified that use of the Website by the User constitutes an acknowledgement and acceptance by the User of this Agreement and the TOS. If the User does not agree with any part of such terms, conditions and notices, the User must not use the Website.

<h4>1.5</h4>
Additionally, the Service Provider may provide terms and guidelines that govern particular features, offers or the operating rules and policies applicable to each Service (for example, event tickets, food & beverages combo deals etc.). The User shall be responsible for ensuring compliance with the terms and guidelines or operating rules and policies of the Service Provider with whom the User elects to deal, including terms and conditions set forth in a Service Providers. In the event that any of the terms, conditions and notices contained in this Agreement or the TOS conflict with the additional/other terms and guidelines specified by the Service Provider, then the latter terms/guidelines shall prevail.

<h4>2.0 MODIFICATIONS OF TERMS</h4>
Happyfolks reserves the right to change the terms, conditions and notices under which the Services are offered through the Website, including but not limited to the charges for the Services provided through the Website. The User shall be responsible for regularly reviewing these terms and conditions.

<h4>3.0 PRIVACY POLICY</h4>
The User hereby consents, expresses and agrees that he has read and fully understands the Privacy Policy of Happyfolks in respect of the Website, The User further consents that the terms and contents of such Privacy Policy are acceptable to him.

<h4>4.0 LIMITED USER</h4>
<h4>4.1</h4>
The User agrees and undertakes not to sell, trade or resell or exploit for any commercial purposes, any portion of the Service. For the removal of doubt, it is clarified that the Website is not for commercial use but is specifically meant for personal use only.

<h4>4.2</h4>
The User further agrees and undertakes not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Website. Limited reproduction and copying of the content of the Website is permitted provided that the ‘GoEvents’ name is stated as the source. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the content for commercial or non-commercial purposes and unwarranted modification of data and information within the content of the Website is not permitted.

<h4>5.0 DISCLAIMER OF WARRANTIES/LIMITATION OF LIABILITY</h4>
<h4>5.1</h4>
Happyfolks has endeavoured to ensure that all the information on the website is correct, but Happyfolks neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data or information contained. Happyfolks makes no warranty, express or implied, concerning the website and/or its contents and disclaims all warranties of fitness for a particular purpose and warranties of merchantability in respect of services, including any liability, responsibility or any other claim, whatsoever, in respect of any loss, whether direct or consequential, to any user or any other person, arising out of or from the use of the information contained in the website.

<h4>5.2</h4>
Since Happyfolks acts only as a promotions agent, it shall not have any liability whatsoever for any aspect of the arrangements between the service provider and the user as regards the standards of services provided by the service providers. In no circumstances shall Happyfolks be liable for the services provided by the service provider.

<h4>5.3</h4>
Although Happyfolks makes reasonable commercial efforts to ensure that the description and content in the TOS and on each page of the website is correct, it does not, however, take responsibility for changes that occurred due to human or data entry errors or for any loss or damages suffered by any user due to any information contained herein. Also, Happyfolks is not the service provider and cannot therefore control or prevent changes in the published descriptions which are based upon information provided by the service providers.

<h4>5.4</h4>
Happyfolks does not endorse any advertiser on its website in any manner.The users are requested to verify the accuracy of all information on their own before undertaking any reliance on such information.

<h4>5.5</h4>
<p>In no event shall Happyfolks be liable for any direct, indirect, punitive, incidental, special, consequential damages or any other damages resulting from: (a) the use or the inability to use the services; (b) the cost of procurement of substitute goods and services or resulting from any goods, information or services purchased or obtained or messages received or transactions entered into through the services; (c) unauthorised access to or alteration of the user's transmissions or data; (d) any other matter relating to the services; including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the website. </p>

<p>Neither shall Happyfolks be responsible for the delay or inability to use the website or related services, the provision of or failure to provide services, or for any information, software, products, services and related graphics obtained through the website, or otherwise arising out of the use of the website, whether based on contract, tort, negligence, strict liability or otherwise. Further, Happyfolks shall not be held responsible for non-availability of the website during periodic maintenance operations or any unplanned suspension of access to the website that may occur due to technical reasons or for any reason beyond Happyfolks's control. the user understands and agrees that any material and/or data downloaded or otherwise obtained through the website is done entirely at their own discretion and risk and they will be solely responsible for any damage to their computer systems or loss of data that results from the download of such material and/or data. These limitations, disclaimer of warranties and exclusions apply without regard to whether the damages arise from 
<p>(a) breach of contract, </p>
<p>(b) breach of warranty,</p>
<p>(c) negligence, or </p>
<p>(d) any other cause of action, to the extent such exclusion and limitations are not prohibited by applicable law.The maximum liability on part of Happyfolks arising under any circumstances, in respect of any services offered on the site, shall be limited to the refund of total amount received from the customer for availing the services less any cancellation, refund or others charges, as may be applicable. in no case the liability shall include any consequential loss, damage or additional expense whatsoever.</p></p>

<h4>6.0 LINKS TO THIRD PARTY SITES</h4>
<h4>6.1</h4>
The Website may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Happyfolks or the Website and Happyfolks is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Happyfolks is not responsible for any form of transmission, whatsoever, received by the User from any Linked Site. Happyfolks is providing these links to the User only as a convenience, and the inclusion of any link does not imply endorsement by Happyfolks or the Website of the Linked Sites or any association with its operators or owners including the legal heirs or assigns thereof.

<h4>6.2</h4>
Happyfolks is not responsible for any errors, omissions or representations on any Linked Site. Happyfolks does not endorse any advertiser on any Linked Site in any manner. The Users are requested to verify the accuracy of all information on their own before undertaking any reliance on such information.

<h4>7.0 PROHIBITION AGAINST UNLAWFUL USE</h4>
As a condition of the use of the Website, the User warrants that they will not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Agreement and/or the TOS including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party's use and/or enjoyment of the Website. The User shall refrain from obtaining or attempting to obtain any materials or information through any means not intentionally made available or provided for or through the Website.

<h4>8.0 USE OF COMMUNICATION SERVICES</h4>

<h4>8.1</h4>
The Website may contain services such as email, chat, bulletin board services, information related to recommendations, news groups, forums, communities, personal web pages, calendars, and/or other message (hereinafter collectively referred to as "Communication Services"). The User agrees and undertakes to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service. By way of example, and not as a limitation, the User agrees and undertakes that when using a Communication Service, the User will not:
defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others;
upload files that contain software or other material protected by intellectual property laws unless the User owns or controls the rights thereto or have received all necessary consents;
upload or distribute files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website or another's computer;
advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages;
conduct or forward surveys, contests, pyramid schemes or chain letters;
download any file posted by another user of a Communication Service that the User know, or reasonably should know, cannot be legally distributed in such manner;
falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded;
violate any code of conduct or other guidelines, which may be applicable for or to any particular Communication Service;
violate any applicable laws or regulations for the time being in force in or outside India; and
violate any of the terms and conditions of this Agreement or any other terms and conditions for the use of the Website contained elsewhere herein.

<h4>8.2</h4>
Happyfolks has no obligation to monitor the Communication Services. However, Happyfolks reserves the right to review materials posted through Communication Service and to remove any materials in its sole discretion. Happyfolks reserves the right to terminate the User's access to any or all of the Communication Services at any time without notice for any reason whatsoever.

<h4>8.3</h4>
Happyfolks reserves the right at all times to disclose any information as is necessary to satisfy or comply with any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Happyfolks's sole discretion.

<h4>8.4</h4>
Happyfolks does not control or endorse the content, messages or information found in any communication service and, therefore, Happyfolks specifically disclaims any liability or responsibility whatsoever with regard to the communication services and any actions resulting from the user's participation in any communication service.

<h4>8.5</h4>
Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. User is responsible for keeping himself updated of and adhering to such limitations if they download the materials.

<h4>9.0 TERMINATION/ACCESS RESTRICTION</h4>
Happyfolks reserves the right, in its sole discretion, to terminate the access to the website and the related services or any portion thereof at any time, without notice.

<h4>10.0 FEES PAYMENT</h4>
<h4>10.1</h4>
Happyfolks reserves the right to charge listing fees for certain listings, as well as transaction fees based on certain completed transactions using the Happyfolks Services. Happyfolks further reserves the right to alter any and all fees from time to time, without notice.

<h4>10.2</h4>
The User shall be liable to pay all applicable charges, fees, duties, taxes, levies and assessments for availing the Happyfolks Services.

<h4>11.0 USER'S OBLIGATIONS AND USER ACCOUNT</h4>
<h4>11.1</h4>
In consideration of use of the Website, the User represent and confirm that the User is of legal age to enter into a binding contract and is not a person barred from using the Website and/or receiving the Services under the laws of India or other applicable law.

<h4>11.2</h4>
To avail a Service the User has and must continue to maintain at his sole cost: (a) all the necessary equipments including a computer and modem etc. to access the Website/avail Services; (b) own access to the World Wide Web. The User shall be responsible for accessing the Services and that access may involve third party fees including, airtime charges or internet service provider charges which are to be exclusively borne by the User.

<h4>11.3</h4>
The user also understands that the services may include certain communications from Happyfolks as service announcements and administrative messages. the user understands and agrees that the services are provided on an "as is" basis and that Happyfolks does not assume any responsibility for deletions, mis-delivery or failure to store any user communications or personalised settings.

<h4>11.4</h4>
Registration of the User on the Website is optional. If the User opts to register himself on the Website, upon completion of the registration process, the User shall receive a user id and password. The User agrees and undertakes at all times to be responsible for maintaining the confidentiality of the password and user id, and shall be fully responsible for all activities that occur by use of such password or user id. Further, the User agrees not to use any other party's user id and password for any purpose whatsoever without proper authorisation from such party. You are responsible for the security of your password and for all transactions undertaken using your password through our service. The Password entered by you is transmitted in one- way encrypted form to our database and stored as such. Thus the Password will not be known even to Happyfolks. You confirm that you are the authorised holder of the credit card or the original account holder used in the transactions you make using the Happyfolks services. Happyfolks will not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of your ID/password/credit card number/account details number for using Happyfolks Services.

<h4>11.5</h4>
The user also agrees and undertakes to immediately notify Happyfolks of any unauthorised use of the user's password or user id and to ensure that the user logs off at the end of each session at the website. Happyfolks shall not be responsible for any, direct or indirect, loss or damage arising out of the user's failure to comply with this requirement.

<h4>11.6</h4>
The User also agrees to: (a) provide true, accurate and complete information about himself and his beneficiaries as prompted by the registration form ("Registration Data") on the Website; and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If the User provide any information that is untrue, inaccurate, not current or incomplete or Happyfolks has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Happyfolks has the right to suspend or terminate the User's registration and refuse any and all current or future use of the Website and/or any Service.

<h4>11.7</h4>
Furthermore, the User grants Happyfolks the right to disclose to third parties Registration Data to the extent necessary for the purpose of carrying out the Services.

<h4>12.0 Breach</h4>
<h4>12.1</h4>
<p>Without prejudice to the other remedies available to Happyfolks under this agreement, the TOS or under applicable law, Happyfolks may limit the user's activity, or end the user's listing, warn other users of the user's actions, immediately temporarily/indefinitely suspend or terminate the user's registration, and/or refuse to provide the user with access to the website if:</p>
<p>(a) the user is in breach of this agreement, the TOS and/or the documents it incorporates by reference;</p>
<p>(b) Happyfolks is unable to verify or authenticate any information provided by the user; or</p>
<p>(c) Happyfolks believes that the user's actions may infringe on any third party rights or breach any applicable law or otherwise result in any liability for the user, other users of the website and/or Happyfolks.</p>

<h4>12.2</h4>
Happyfolks may at any time in its sole discretion reinstate suspended users. once the user have been indefinitely suspended the user may not register or attempt to register with Happyfolks or use the website in any manner whatsoever until such time that the user is reinstated by Happyfolks. Notwithstanding the foregoing, if the user breaches this agreement, the TOS or the documents it incorporates by reference, Happyfolks reserves the right to recover any amounts due and owing by the user to Happyfolks and/or the service provider and to take strict legal action as Happyfolks deems necessary.


<h4>13.0 PROPRIETARY RIGHTS</h4>
<h4>13.1</h4>
Happyfolks may provide the User with content such as sound, photographs, graphics, video or other material contained in sponsor advertisements or information. This material may be protected by copyrights, trademarks or other intellectual property rights and laws. The User may use this material only as expressly authorized by Happyfolks and shall not copy, transmit or create derivative works of such material without express authorization from Happyfolks.

<h4>13.2</h4>
The User acknowledges and agrees that they shall not upload, post, reproduce or distribute any content on or through the Website that is protected by copyright or other proprietary right of a third party, without obtaining the permission of the owner of such right. Any copyrighted or other proprietary content distributed on or through the Website with the consent of the owner must contain the appropriate copyright or other proprietary rights notice. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject the User to personal liability or criminal prosecution.

<h4>14.0 RELATIONSHIP</h4>
None of the provisions of this Agreement, terms and conditions, notices or the right to use the Website by the User contained herein or any other section or pages of the Website and/or the Linked Sites, shall be deemed to constitute a partnership between the User and Happyfolks and no party shall have any authority to bind or shall be deemed to be the agent of the other in any way. It may be noted, however, that if by using the Website, the User authorizes Happyfolks and its agents to access third party sites designated by them or on their behalf for retrieving requested information, the User shall be deemed to have appointed Happyfolks and its agents as their agent for this purpose.

<h4>15.0 HEADINGS</h4>
The headings and subheadings herein are included for convenience and identification only and are not intended to describe, interpret, define or limit the scope, extent or intent of this Agreement, the TOS or the right to use the Website by the User contained herein or any other section or pages of the Website or any Linked Sites in any manner whatsoever.

<h4>16.0 INTERPRETATION OF NUMBER AND GENDERS</h4>
The terms and conditions herein shall apply equally to both the singular and plural form of the terms defined. Whenever the context may require, any pronoun shall include the corresponding masculine and feminine. The words "include", "includes" and "including" shall be deemed to be followed by the phrase "without limitation". Unless the context otherwise requires, the terms "herein", "hereof", "hereto", "hereunder" and words of similar import refer to this Agreement as a whole.


<h4>17.0 INDEMNIFICATION</h4>
The User agrees to indemnify, defend and hold harmless Happyfolks from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by Happyfolks that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by the User pursuant to this Agreement and/or the TOS.

<h4>18.0 SEVERABILITY</h4>
If any provision of this Agreement is determined to be invalid or unenforceable in whole or in part, such invalidity or un-enforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of this Agreement shall continue to be in full force and effect.

<h4>19.0 TERMINATION OF AGREEMENT AND SERVICES</h4>
<h4>19.1</h4>
Either the User or Happyfolks may terminate this Agreement and a Service with or without cause at any time to be effective immediately.

<h4>19.2</h4>
The User agrees that Happyfolks may under certain circumstances and without prior notice, immediately terminate the User's user id and access to the Website/Services. Causes for termination may include, but shall not be limited to, breach by the User of this Agreement or the TOS, requests by enforcement or government agencies, requests by the User, non-payment of fees owed by the User in connection with the Services as specified in the applicable TOS.

<h4>19.3</h4>
This Agreement may be terminated by either the User or Happyfolks through a written notice to the other. Happyfolks shall not be liable to the User or any third party for termination of any Service. Should the User object to any terms and conditions of this Agreement, any TOS or become dissatisfied with the Service in any way, the User's only recourse is to immediately: (a) discontinue use of the Website/Service; and (b) notify Happyfolks of such discontinuance.

<h4>19.4</h4>
Upon termination of the Service, User's right to use the Website/Services and software shall immediately cease. The User shall have no right and Happyfolks shall have no obligation thereafter to execute any of the User's uncompleted tasks or forward any unread or unsent messages to the User or any third party. Once the User's registration or the Services are terminated, cancelled or suspended, any data that the User has stored on the Website may not be retrieved later.

<h4>20.0 NOTICES</h4>
All notices and communications (including those related to changes in the TOS, Service, termination of Service etc.,) shall be in writing, in English and shall deemed given if delivered personally or by commercial messenger or courier service, or mailed by registered or certified mail (return receipt requested) or sent via email/facsimile (with acknowledgment of complete transmission) to the following address:
If to Happyfolks, at notice@gooevents.in or at the address posted on the Website.
If to a non registered User, at the communication and/or email address specified in the application form availing of a Happyfolks Service.
If to a registered User, at the communication and/or email address specified in the registration form.

<p>Notice shall be deemed to have been served 48 hours after it has been sent, dispatched, displayed, as the case may be, unless, where notice has been sent by email, it comes to the knowledge of the sending party, that the email address is invalid.</p>


<h4>21.0 GOVERNING LAW</h4>
This agreement and each TOS shall be governed by and constructed in accordance with the laws of india without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts of Bangalore.
