<div>
  <%= link_to 'Show Restaurants' , "/refinery/events/#{params[:event_id]}/restaurants", :style=>"border:1px solid;padding:3px;"  %>
  <%= link_to 'New Restaurant' , "/refinery/events/#{params[:event_id]}/restaurants/new", :style=>"border:1px solid;padding:3px;" %>
</div>