<div>
  <%= link_to 'Show Artists' , "/refinery/events/#{params[:event_id]}/artists", :style=>"border:1px solid;padding:3px;"  %>
  <%= link_to 'New Artist' , "/refinery/events/#{params[:event_id]}/artists/new", :style=>"border:1px solid;padding:3px;" %>
</div>