<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function()
        {
          window.location.href = "/"
        }, 3000);
	});
</script>
<p>Sorry, currently our services can only be availed by employees at select companies in Bangalore, India. Please check your email for more info.</p>

<p>If you are an employee in a company from within Bangalore and still can’t join us?
Your company is not currently enabled in our system. We will review the same and inform you as soon as it is enabled. We request you to ask your colleagues to register with us, as more the number of people registering from your company, the better the chances of getting your company approved. </p>

<p>In the meantime, If you'd like, you can receive our weekly updated newsletter by clicking <a href="#">here</a>. This way, you can stay in touch with the latest news on events in your city and site happenings.

<p>If you have got an invitation to join us but still can’t?
Sorry, something must have gone wrong somewhere. Please click <a href="/contact-us" target="_blank">here</a>. Have recieved invitation but can’t register?  to submit your request and we will get back to you within the next 24 hours. We request you to notify the same to the HR/Admin team in your company.</p>

<p>You want us to promote & sell your event?
Please get in touch with us <a href="/contact-us" target="_blank">here</a>. Want us to promote & sell?. We will take a look as soon as we possibly can and get in touch with with you.</p>

<p>If you have any questions, please click <a href="/faqs" target="_blank">here</a>.</p>