<aside id="actions">
  <ul>
    <li> <a href="/refinery/admin/users/partners" class="add_icon">Partners</a> </li>
    <li> <a href="/refinery/admin/users/upload_new_partners" class="add_icon">Upload Partners</a> </li>
    <li> <a href="/refinery/admin/users/deactive_partners" class="add_icon">Deactive Partners</a> </li>
  	<li> <a href="/refinery/admin/users" class="add_icon">Users Overview</a></li>
  	<li> <a href="/refinery/admin/users/new" class="add_icon">Add User</a> </li>
    <li> <a href="/refinery/admin/users/upload_new_users" class="add_icon">Upload Users</a> </li>
  </ul>
</aside>
