<aside id="actions">
  <ul>
  	<li> <a href="/refinery/admin/users/new" class="add_icon">New User</a> </li>
    <li> <a href="/refinery/admin/users/upload_new_users" class="add_icon">Upload Users</a> </li>
    <li> <a href="#" class="add_icon">Inactivate Users</a> </li>
    <li> <a href="/refinery/admin/users/partners" class="add_icon">Add Partner</a> </li>
  </ul>
</aside>