/* Begin Bootstrap Overrides */
.container, .navbar .container{
	width: 960px;
}
.main-menu .navbar-inner{
	background-image: none;
	background-color: #222;
	filter: none;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	height: 65px;
	border: none;
}
.navbar .brand{
	text-shadow: none;
	color: #FFF;
}
#logo{
  font-size: 3em;
  font-weight: bold;
  margin-top: 6px;
}
/* End Bootstrap Overrides */

/* Begin Spree overrides */
footer#footer{
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	background: url("/assets/footer-bg.png") repeat #342514;
	border-top: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
/* End Spree overrides */



body, input, button, select, textarea{
	font-family: "proxima-nova-soft",sans-serif;
}
/* Begin Library */
.ofvis{ overflow: visible;}
.ml0{ margin-left: 0; }
/* End Library */

/* Body */
#main-body{
	padding-top: 65px;
	background: url("/assets/splash-banner-bg.jpg") repeat-x 0 100%;
}
#signin-form{
	margin-top: 140px;
	padding:20px;
	margin-right: 46px;
	#background: #6F6F6F;
  border: 1px solid #6F6F6F;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;

}
#signin-form input{
	background-color: #f8e9d4;
	border: none;
	text-shadow: none;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
}

#signin-form input#submit{
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.splash-banner-holder{
	margin-left: 0;
}
.splash-banner-holder img{
	max-width: none;
}
#signin-form .btn-green, input.btn-green{
	background-color: #99a539;
	background-image: none;
	filter: none;
	color: #FFF;
}

#footer{
	background: -moz-linear-gradient(top, #23b2d0 0%, #1b91aa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23b2d0), color-stop(100%,#1b91aa));
	background: -webkit-linear-gradient(top, #23b2d0 0%,#1b91aa 100%);
	background: -o-linear-gradient(top, #23b2d0 0%,#1b91aa 100%);
	background: -ms-linear-gradient(top, #23b2d0 0%,#1b91aa 100%);
	background: linear-gradient(to bottom, #23b2d0 0%,#1b91aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b2d0', endColorstr='#1b91aa',GradientType=0 );
	height: 225px;
	padding-top: 35px;
}

#footer .btn-splash{
	background-color: #ffffff;
	background-image: none;
	margin-top: 25px;
	color: #666;
	font-weight: bold;
}
#footer .btn-splash:hover{
	background-color: #f8e9d4;
}
.modal {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -web-border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -280px;
    outline: 0 none;
    position: fixed;
    top: 10%;
    width: 560px;
    z-index: 1050;
}
.model1 {width:700px; margin-left: -350px}
.modal-header {
	border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -web-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
	background: #db4f27;
    border-bottom: 1px solid #EEEEEE;
    padding: 9px 15px;
    color: #ffffff;
}
.modal-header h3 {
    line-height: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #f5f5f5;
}
.close {
    color: #f5f5f5;
    float: right;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    opacity: 1;
    text-shadow: 0 1px 0 #FFFFFF;
}
.modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 40px;
    position: relative;
    box-shadow: 0 7px 7px -7px #cccccc inset;
    -moz-box-shadow: 0 7px 7px -7px #cccccc inset;
    -webkit-box-shadow: 0 7px 7px -7px #cccccc inset;
    -o-box-shadow: 0 7px 7px -7px #cccccc inset;
    -ms-box-shadow: 0 7px 7px -7px #cccccc inset;
}
.modal-body p {
	font-size: 16px;
	color:#666666;
}

.modal-body p strong {
	font-size: 20px;
	color:#666666;
	font-weight: normal;
}

.modal-body p img {
	margin-bottom: 30px;
}

.signup-form input[type="text"],.signup-form input[type="password"],.signup-form input[type="email"],.signup-form select{
  display:block;
}
.signup-form input[type="radio"]{
  display:inline-block;
  margin:0 5px 0 0;
}
.signup-form label.prescription-text{
  font-weight:bold;
}
.signup-form label{
  display:inline-block;
  margin-right:15px;
}
.signup-form .prescription_diet{
  text-align: left;
}
.signup_modal_container .errorExplanation {
  text-align: left !important;
  /*color: red !important;*/
}
.signup_modal_container .errorExplanation ul{
  margin: 0;
}
.signup_modal_container .errorExplanation ul li{
  list-style: none;
}

/* Begin Responsive Style */
@media screen and (max-width: 979px){
	#signin-form{
		margin-left: -56px;
	}
	.splash-banner-holder img{
		max-width: 100%;
	}
	#main-body{
		padding-top: 0px;
	}
	.container, .navbar .container{
		width: auto;
	}
}
@media screen and (max-width: 768px){
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{
		margin: 0;
	}
	#signin-form{
		margin-left: 0;
		margin-top: 50px;
		text-align: center;
	}
	body{
		padding: 0;
	}
	#footer{
		height: auto;
	}
	#footer .btn-splash{
		margin-bottom: 40px;
	}
}
/* End Responsive Style */