.ifilter{
	a{
		float: left;
		margin-right: 10px;
		color: white;
		background-color: grey;
		padding: 4px;
	}
}

#footer-div{
	background: none repeat scroll 0 0 #F3F3F3;
    clear: both;
    color: #888888;
    padding: 2em 0 1.5em;
    a{
    	float: right;
    	margin: 5px;
    }
}